doctype html
html
  head
    script(src="jquery/dist/jquery.js")
    script(src="js/index.js")
    title Print Viewer Service
  body
    h1 Print Viewer Service
    h2 by
      a(href="https://github.com/molavec/print-viewer") @molavec
    H2 Examples:
    ul
      for template in templates
        li
          div
            a(href='/'+template+'/example') #{template} <br/>
            textarea(type="text" cols="40" rows="5" template=template)
            a(href='#' class="post-request" template=template) POST

